<!DOCTYPE html>
<html>
    <head>
        <title>Report</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h2>Report</h2>
        <h2>{{report}}</h2>
        {{>librarys}}
        {{> footer}}
    </body>
</html>